.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: black;
    padding: 20px 60px 20px 30px;
}

.Logo{
    height: 100%;
    width: 5%;
    object-fit: cover;
}

.Navbar__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 3rem;
}

.Navbar__link{
    text-decoration: none;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Navbar__link:hover{
    border-bottom: 1px solid white;
}